<nav></nav>
<!-- Contents -->
<div class="allcontent">
  <div class="sidebar">
    <!-- Sidebar Filters -->
    <div class="location">
      <h1 class="location-head">Location</h1>
      <div class="checkbox">
        <a href="/india"><button id="india">India</button></a>
        <a href="/united-states"><button id="united-states">United-States</button></a>
        <a href="/united-kingdom"><button id="united-kingdom">United-Kingdom</button></a>
        <a href="/europe"><button id="europe">Europe</button></a>
        <a href="/canada"><button id="canada">Canada</button></a>
        <a href="/pakistan"><button id="pakistan">Pakistan</button></a>
        <a href="/south-africa"><button id="south-africa">South-Africa</button></a>
        <a href="/nigeria"><button id="nigeria">Nigeria</button></a>
      </div>
    </div>
    <div class="degree">
      <h1 class="location-head">Degree</h1>
      <div class="checkbox">
        <label for="">Masters<input type="checkbox" id="masters" /></label>
        <label for="">Bachelor<input type="checkbox" id="bachelor" /></label>
        <label for="">Phd<input type="checkbox" id="phd" /></label>
        <label for="">Course<input type="checkbox" id="course" /></label>
      </div>
    </div>
    <div class="funds">
      <h1 class="location-head">Funds</h1>
      <div class="checkbox">
        <label for="">Amount<input type="checkbox" id="amount" /></label>
        <label for="">Scholarship<input
            type="checkbox"
            id="scholarship"
          /></label>
        <label for="">Tuition Fees %<input
            type="checkbox"
            id="tuition"
          /></label>
      </div>
    </div>
    <div class="dates">
      <h1 class="location-head">Dates</h1>
      <div class="checkbox">
        <label for="">2021-2022<input type="checkbox" id="year21" /></label>
        <label for="">2022-2023<input type="checkbox" id="year22" /></label>
        <label for="">2023-2024<input type="checkbox" id="year23" /></label>
        <label for="">2024-2025<input type="checkbox" id="year24" /></label>
        <label for="">2025-2026<input type="checkbox" id="year25" /></label>
        <label for="">2026-2027<input type="checkbox" id="year26" /></label>
      </div>
    </div>
    <button class="remove-filter">Remove Filters</button>
  </div>

  <div class="content">
    <!-- actual content -->
    {{#each universities}}
      <div class="uni-info">
        <h1 class="uni-name">{{title}}</h1>
        <div class="innercontent">
          <div class="innercontent-info">
            <p>Location: {{location}}</p>
            <p>Degree: {{degrees}}</p>
            <p>Date: {{date}}</p>
            <p>Funds: {{funds}}</p>
          </div>
        </div>
        <!-- BUTTONS -->
        <i class="bx bxs-right-arrow right-arrow"></i>
        <button class="apply-btn">Apply Now!</button>
        <i class="bx bxs-left-arrow left-arrow"></i>
      </div>
    {{/each}}
  </div>
</div>